@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,900;1,100;1,200&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

stylized {
  font-family: 'Playfair Display SC', serif;
}

neue {
  font-family: 'Bebas Neue', serif;
}

myeongjo-light {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
}

myeongjo-mid {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
}

myeongjo-heavy {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
}

montserrat-ultralight {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #3970a6;
}

montserrat-ultralight-italic {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #3970a6;
}

montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #3970a6;
}

montserrat-light-italic {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #3970a6;
}

montserrat-mid {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3970a6;
}

montserrat-heavy {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #3970a6;
}